body
{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: #f0f0f0;
	min-width: 1024px;
}

/* ----------------------------------------- 
				GENERAL
------------------------------------------ */
.content
{
	width: 1024px;
	margin: auto;
}

.marge-top
{
	margin-top: 30px;
}

/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
*/


a, a:visited
{
	color: #2c3e50;
	text-decoration: none;
}

a:hover
{
	color:#95a5a6;
}

.right
{
	float: right;
}

.left
{
	float: left;
}

/* ------- infobulles --------- */
.infobulle
{
	padding:5px 0 5px 0;
	width: 100%;
	height: 30px;
	text-align: center;
}

.infobulle p 
{
	line-height: 0;
	color: #FFFFFF;
}

.infobulle a:hover
{
	color: #2c3e50;
}

.infobulle a
{
	color: #FFFFFF;
}

.croix_infobule
{
	position: relative;
	bottom: 7px;
	margin-right: 20px;
}

.valide
{
	background: #2ecc71;
}

.erreur
{
	background: #e74c3c;
}

.information
{
	background: #3498db;
}
/* ----------------------------------------- 
					HEADER
------------------------------------------ */
#header
{
	width: 100%;
	height: 50px;
	background: #2c3e50;
	padding: 5px 0 5px 0;
	color: #FFFFFF;

}

/* logo */
#header #logo
{
	margin: 0;
	line-height: 50px;
}

#header #logo span
{
	margin-left: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 22px;
	position: relative;bottom: 16px;
}

/* UL */
#header #categories_header li, #header #connexion_inscription li
{
	display: inline;
	margin-left: 30px;
}

#header #connexion_inscription li .icon-arrow-down
{
	position: relative;
	top: 2px;
}

/* bloc connexion */
#header #connexion_inscription #lien_connexion
{
	position: relative;
}

#bloc_connexion
{
	display: none;
	width: 200px;
	background: #2c3e50;
	color: #FFFFFF;
	padding: 0;
	text-align: center;
	position: absolute;
	right: 0;
}

#bloc_connexion input
{
	margin: 0;
}

#header #connexion_inscription #lien_connexion:hover #bloc_connexion
{
	display: block;
}

/* liens */
#header a, #header a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

#header a:hover
{
	color: #ecf0f1;
}


/* ----------------------------------------- 
			MENU GAUCHE
------------------------------------------ */
#menu_gauche
{
	width: 320px;
	margin: 0;
}

#menu_gauche h1
{
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 5px 0 5px 0;
	color: #2c3e50;
	border-radius: 5px 5px 0 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

#content_menu_gauche
{
	background: #fcfbfb;
}

/* ---- Apercus des articles ---- */
.apercus_article_menu_gauche
{	
	height: 70px;
	border-bottom: 1px solid #bdc3c7;
	padding: 2px 0 3px 0;
	margin-bottom: 1px;
}

.apercus_article_menu_gauche:hover
{
	background: #FFFFFF;
}

.apercus_article_menu_gauche:last-child
{
	border-bottom: none;
}

/* image apercus */
.apercus_article_menu_gauche .image_apercus
{
	width: 70px;
	height:70px;
	overflow: hidden;
}

.apercus_article_menu_gauche .image_apercus img
{
	width: 100%;
}


.apercus_article_menu_gauche .apercus_titre
{
	width: 240px;
	float: left;
	margin: 0;
	padding-left: 10px;
}

.apercus_comments
{
	margin-left: 10px;
}

.apercus_auteur
{
	margin-right: 10px;
}


/* ----------------------------------------- 
			CONTENT ARTICLES
------------------------------------------ */
#content_articles
{
	width: 650px;
	margin: 20px 0 30px 0;
}


/* -----------------
	  ARTICLES
------------------ */
.article
{
	width: 100%;
	background: #fcfbfb;
	border-bottom: 3px solid #2c3e50;
}

/* image de l'article */
.article .bloc_image_article
{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

/* bloc contenant le resume, les comments ... */
.article .apercus_infos_article
{
	width: 90%;
	margin: auto;
}

.article h1
{
	display: inline-block;
}

hr 
{ 
	background-color: #bdc3c7; 
	height: 1px; 
	border: 0; 
}

/* bouton pour editer le commentaire */
.edit_commentaire
{
	position: relative;
	left: 155px;
}

.edit_commentaire .icon-cross2
{
	margin-left: 10px;
}
/* -----------------
	Comm Articles
------------------ */
.commentaire
{
	font-size: 14px;
	margin-bottom: 20px;
	color: #7f8c8d;
}

.comentaire .infos_commentaire
{
	color: #bdc3c7;
}

